* {
  box-sizing: border-box;
}

.list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  max-width: 600px;
  width: 100%;
}

html,
body {
  margin: 0;
  font-size: 20px;
}

.App {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #333;
}

.form-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  padding-top: 32px;
}

.form-wrapper input[type="text"] {
  min-height: 48px;
  width: 100%;
  background-color: lightblue;
  border: none;
  padding: 0 20px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  color: #333;
}

.form-wrapper input[type="text"].invalid {
  border: 3px solid red;
  outline: none;
}

.legend {
  font-size: 12px;
}

.form-wrapper input[type="text"].invalid~.legend {
  color: red;
}

.form-wrapper input[type="submit"] {
  min-height: 48px;
  width: 100%;
  background-color: lightblue;
  border: none;
  padding: 0 20px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: #333;
}

.item-wrapper {
  margin-bottom: 20px;
}

.item-inner {
  padding: 20px 120px 20px 20px;
  background-color: lightblue;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  position: relative;
}

.item-user {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 20px;
  flex-shrink: 0;
}

.item-text-wrapper {
  flex: 1;
}

.item-text-wrapper textarea {
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  min-height: 4em;
}

.item-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.item-text {
  font-size: 16px;
}

.item-delete-btn,
.item-edit-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item-edit-btn {
  right: 80px;
  text-transform: uppercase;
  color: darkcyan;
  font-weight: bold;
  font-size: 22px;
}

.item-delete-btn .line {
  display: inline-block;
  width: 20px;
  height: 6px;
  background-color: red;
  position: absolute;
  border-radius: 3px;
}

.item-delete-btn .line:first-of-type {
  transform: rotate(45deg);
}

.item-delete-btn .line:last-of-type {
  transform: rotate(135deg);
}
