* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(13, 6, 83);
  color: rgb(212, 209, 246);
}

.wrapper {
  font-size: 300px;
  display: flex;
}

.minutes,
.seconds {
  margin-left: 20px;
}
